.ingredient_headline {
    line-height: 60px;
    width: 100%;
}

.ingredient_properties {
    display: grid;
    grid-template-columns: repeat(4, 130px);
    gap: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.ingredient_property_item {
    text-align: center;
}