.constructor_wrapper {
    position: relative;
}

.constructor_inner {
    position: relative;
    display: flex;
    width: calc(100% - 20px);
    max-height: 560px;
    flex-direction: column;
    align-items: flex-end;
    gap: 16px;
}

.constructor_loading {
    composes: constructor_inner;
}

.constructor_loading > * {
    filter: brightness(0.5);
}
