.order_list_wrapper {
    display: grid;
    gap: 24px;
    overflow: hidden;
    /* grid-template-rows: min-content 1fr; */
}

.order_list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow-y: auto;
    /* max-height: calc(96vh - 120px); */
}
