header {
    width: 100%;
    height: 88px;
    background-color: var(--background);
}

.header_button {
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    gap: 8px;
    color: var(--text-inactive-color);
    text-decoration: none;
}

.header_button_active {
    composes: header_button;
    color: var(--text-primary-color);
}

.header_side {
    display: flex;
    align-items: center;
    gap: 8px;
}

.header_side_left {
    composes: header_side;
    justify-content: flex-start;
}

.header_side_center {
    composes: header_side;
    justify-content: center;
}

.header_side_right {
    composes: header_side;
    justify-content: flex-end;
}
