.ingredient_details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ingredient_headline {
    width: 100%;
    line-height: 60px;
    text-align: center;
}

.image {
    height: 240px;
}

.ingredient_properties {
    display: grid;
    grid-template-columns: repeat(4, 130px);
    gap: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.ingredient_property_item {
    text-align: center;
}