#root {
    display: grid;
    height: 100vh;
    grid-template-rows: min-content 0.97fr;
    gap: 40px;
    user-select: none;
}

body,
main {
    overflow: hidden;
}

main {
    width: 1240px;
    margin: auto;
    height: 100%;
}

.header_inner {
    display: grid;
    width: calc(1240px + 40px);
    height: 100%;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
}

.constructor-element {
    flex-grow: initial !important;
}

a {
    color: inherit;
    text-decoration: none;
}