.empty_constructor {
    margin: 0 !important;
    flex-grow: 1 !important;
}

.ingredient_list {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style-type: none;
    margin: 0 -20px 0 0;
    padding: 0;
    overflow-y: auto;
}

.constructor_element {
    display: flex;
    justify-content: center;
    align-items: center;
}
